
<div class="flex w-[95%] mx-auto bg-white shadow  flex-col pb-10 pt-3 mt-32">
    <app-forms [name]="name"></app-forms>
  <div class="grid grid-cols-4 mx-auto gap-4">
        <app-input-field [value]="FirstName"></app-input-field>
        <app-input-field [value]="lastName"></app-input-field>
        <app-input-field [value]="class"></app-input-field>
        <app-input-field [value]="gender"></app-input-field>
        <app-input-field [value]="dob"></app-input-field>
        <app-input-field [value]="admno"></app-input-field>
        <app-input-field [value]="subject"></app-input-field>
        <app-input-field [value]="email"></app-input-field>
        <app-input-field [value]="tym"></app-input-field>
        <app-input-field [value]="adress"></app-input-field>
        <app-input-field [value]="UploadPhoto"></app-input-field>
</div>
<div class="mt-5 flex mx-auto ">
    <button mat-raised-button color="accent" class="me-2">save changes</button>
    <button mat-raised-button color="warn">cancel</button>
</div>

</div>
