
   <div class="h-screen bg-white shadow">
      <mat-list >
        <mat-list-item *ngFor="let section of sectionRole[userRole]" >
          <mat-icon matListItemIcon class="">
            <ng-icon name={{section.icons}}></ng-icon>
          </mat-icon>
          <div matListItemTitle class="cursor-pointer">{{ section.name }}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item *ngFor="let note of notes">
          <mat-icon matListItemIcon>
            <ng-icon name={{note.icons}}></ng-icon>
          </mat-icon>
          <div matListItemTitle>{{ note.name }}</div>
        </mat-list-item>
      </mat-list>
   
   </div>